@import '@/defines.css';

:root {
  /* minimum */
  --deck-board-deck-card-list-height-minimum: 142px;
  /* small */
  --deck-board-deck-info-height-small: 20px;
  --deck-board-deck-info-inner-height-small: 0;
  --deck-board-deck-info-inner-top-default: 20px;
  /* normal */
  --deck-board-deck-info-height-normal: 140px;
  --deck-board-deck-info-inner-height-normal: 142px;
  --deck-board-deck-info-inner-top-normal: 0;
  /* large */
  --deck-board-deck-info-inner-height-large: 240px;

  --deck-board-simple-deck-info-width: 160px;
  --deck-board-deck-card-ctrls-height: 64px;
}

.deck-board {
  width: 100%;
  position: relative;

  & .deck-card-ctrls {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  & .simple-deck-info {
    width: var(--deck-board-simple-deck-info-width);
    min-height: var(--deck-board-deck-card-ctrls-height);
    max-height: var(--deck-board-deck-card-ctrls-height);
    padding: 0 3px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
  }

  & .deck-card-actions {
    width: calc(100% - var(--deck-board-simple-deck-info-width));
    min-height: var(--deck-board-deck-card-ctrls-height);
    max-height: var(--deck-board-deck-card-ctrls-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;

    & .deck-card-action-button {
      height: 50px;
      font-size: var(--deck-board-action-button-font-size);
      margin: auto 6px;
      padding: 0 6px;
      color: var(--ctrl-ui-color);
      background-color: var(--ctrl-ui-bg-color);
      border-color: var(--default-dark-border-color);

      &.square-button {
        width: 50px;
        font-size: 32px;
      }

      &.unavailable {
        display: none;
      }
    }

    & .open-other-deck-card-actions {
      font-size: 32px;
      width: 50px;
      height: 50px;
      margin: auto 6px;
      padding: 0 6px;
      color: var(--default-sub-color);
      background-color: transparent;
      border-width: 0;

      &.opened {
        background-color: white;
        z-index: 1;
      }
    }
  }

  & .deck-card-list {
    width: 100%;
    height: var(--deck-board-card-list-height);
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    & .no-deck {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 12px;
      width: 100%;
      height: var(--deck-card-height);
      background-color: var(--default-disabled-color);
    }
  }

  & .deck-info {
    width: 100%;
    min-height: var(--deck-board-deck-info-height-small);
    position: relative;
    transition-property: min-height;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    & .deck-info-inner {
      position: absolute;
      z-index: 1;
      margin: 0 auto;
      top: var(--deck-board-deck-info-inner-top-default);
      left: 0;
      right: 0;
      height: var(--deck-board-deck-info-inner-height-small);
      background-color: white;
      transition-property: height, top;
      transition-duration: 0.5s;
      transition-timing-function: ease;

      & .deck-info-main {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }

    & .deck-info-mask {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: var(--dark-transparent-bg-color);
      display: none;

      &.show {
        display: block;
      }
    }
  }

  & .switch-deckboard-items {
    width: 160px;
    position: absolute;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;

    &.show {
      display: flex;
    }
  }

  & .switch-deckboard {
    width: 64px;
    height: 24px;
    background-color: var(--ctrl-ui-bg-color);
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    opacity: 0.6;
    padding: 2px 0;
    overflow: hidden;
    border-style: none;
    background-clip: content-box;

    &.show-button {
      visibility: visible;
    }

    & .up-icon,
    & .down-icon {
      width: 100%;
      height: 24px;
      display: flex;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
    }

    & .icon-inner {
      width: 0;
      height: 0;
      position: absolute;
      border: 24px solid transparent;
    }

    & .up-icon {
      align-items: flex-end;

      & .icon-inner {
        border-bottom: 12px solid var(--default-dark-border-color);
        bottom: 6px;
      }
    }

    & .down-icon {
      align-items: flex-start;

      & .icon-inner {
        border-top: 12px solid var(--default-dark-border-color);
        top: 6px;
      }
    }
  }

  & .other-deck-card-actions {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: none;

    &.show {
      display: block;
    }

    & .other-deck-card-actions-bg {
      width: 100%;
      height: 100%;
      background-color: var(--dark-transparent-bg-color);
    }

    & .other-deck-card-actions-items {
      background-color: white;
      width: 180px;
      min-height: 160px;
      max-height: calc(100% - 60px);
      position: absolute;
      top: 58px;
      right: 6px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      & .other-deck-card-actions-item {
        font-size: 24px;
        min-height: 40px;
        max-height: 60px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        cursor: pointer;
        padding: 0 4px;

        &:hover {
          background-color: var(--ctrl-ui-bg-color);
        }

        &.disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  & .belong-ctrl-wrapper {
    position: absolute;
    inset: 0;
    display: none;

    &.show {
      display: block;
    }
  }
}

.deck-board.minimum {
  & .deck-card-list {
    height: var(--deck-board-deck-card-list-height-minimum);

    & .deck-card {
      height: var(--deck-card-inner-thumb-height);
      overflow: hidden;

      & .deck-card-inner-top {
        & .shadow {
          display: none;
        }

        & .info-area {
          display: none;
        }
      }
    }

    & .no-deck {
      height: var(--deck-card-inner-thumb-height);
    }
  }
}

@media (--short-vertical) {
  /* minimumと同じ表示にする */
  .deck-board.small {
    & .deck-card-list {
      height: var(--deck-board-deck-card-list-height-minimum);

      & .deck-card {
        height: var(--deck-card-inner-thumb-height);
        overflow: hidden;

        & .deck-card-inner-top {
          & .shadow {
            display: none;
          }

          & .info-area {
            display: none;
          }
        }
      }

      & .no-deck {
        height: var(--deck-card-inner-thumb-height);
      }
    }

    & .switch-deckboard.show-button.switch-deckboard-up {
      visibility: hidden;
    }
  }
}

.deck-board.normal {
  & .simple-deck-info {
    visibility: hidden;
  }

  & .deck-card-list {
    height: calc(var(--deck-board-card-list-height-large));

    & .deck-card {
      height: var(--deck-card-height-large);

      & .kabuki-pt {
        display: flex;
      }
    }

    & .no-deck {
      height: var(--deck-card-height-large);
    }
  }

  & .deck-info {
    min-height: var(--deck-board-deck-info-height-normal);

    & .deck-info-inner {
      top: var(--deck-board-deck-info-inner-top-normal);
      height: var(--deck-board-deck-info-inner-height-normal);
    }
  }
}

@media (--short-vertical) {
  /* 縦が長いときのsmallと同じ表示にする */
  .deck-board.normal {
    & .simple-deck-info {
      visibility: visible;
    }

    & .deck-card-list {
      height: var(--deck-board-card-list-height);

      & .deck-card {
        height: var(--deck-card-height);

        & .kabuki-pt {
          display: none;
        }
      }

      & .no-deck {
        height: var(--deck-card-height);
      }
    }

    & .deck-info {
      min-height: var(--deck-board-deck-info-height-small);

      & .deck-info-inner {
        top: var(--deck-board-deck-info-inner-top-default);
        height: var(--deck-board-deck-info-inner-height-small);
      }
    }
  }
}

.deck-board.large,
.deck-board.ex-large {
  & .simple-deck-info {
    visibility: hidden;
  }

  & .deck-card-list {
    height: calc(var(--deck-board-card-list-height-large));

    & .deck-card {
      height: var(--deck-card-height-large);

      & .kabuki-pt {
        display: flex;
      }
    }

    & .no-deck {
      height: var(--deck-card-height-large);
    }
  }

  & .deck-info {
    min-height: var(--deck-board-deck-info-height-normal);

    & .deck-info-inner {
      top: var(--deck-board-deck-info-inner-top-normal);
      height: var(--deck-board-deck-info-inner-height-large);
    }
  }

  & .deck-total .total-params {
    display: flex;
  }

  & .switch-deckboard.show-button.switch-deckboard-down {
    visibility: hidden;
  }
}

@media (--short-vertical) {
  /* 縦が長いときのnormalと同じ表示にする */
  .deck-board.large {
    & .simple-deck-info {
      visibility: hidden;
    }

    & .deck-card-list {
      height: calc(var(--deck-board-card-list-height-large));

      & .deck-card {
        height: var(--deck-card-height-large);

        & .kabuki-pt {
          display: flex;
        }
      }
    }

    & .deck-info {
      min-height: var(--deck-board-deck-info-height-normal);

      & .deck-info-inner {
        top: var(--deck-board-deck-info-inner-top-normal);
        height: var(--deck-board-deck-info-inner-height-normal);
      }
    }

    & .deck-total .total-params {
      display: none;
    }

    & .switch-deckboard.show-button.switch-deckboard-down {
      visibility: visible;
    }
  }
}

@media (--long-vertical) {
  /* 縦に十分長いので単純に高さを変える */
  .deck-board.large,
  .deck-board.ex-large {
    & .deck-info {
      min-height: var(--deck-board-deck-info-inner-height-large);
    }
  }
}

@media (--middle-screen) {
  .deck-board {
    width: calc(100% - var(--app-min-width));
  }
}
