@import '@/defines.css';

.button-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter-button-image {
  width: 96%;
  height: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
}
