@import '@/defines.css';

.total-cost {
  min-width: 152px;
  max-width: 152px;
  display: flex;

  & .total {
    width: calc(100% - 4px);
  }

  & .cost-values {
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & .cost-value {
      font-weight: bold;
    }

    & .cost-remain {
      font-size: 14px;

      &.over {
        font-size: 10px;
        color: var(--danger-color);
      }

      &.under {
        color: var(--cold-color);
      }
    }
  }

  & .total {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--default-dark-border-color);
    margin: 2px 1px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &[data-label]::before {
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      top: 2px;
      left: 2px;
    }
  }
}
