:root {
  --app-min-width: 640px; /* アプリケーションの最小幅 */
  --app-min-height: 600px; /* アプリケーションの最小高さ */
  --app-middle-screen-min-width: 1050px;
  --app-vertical-screen-min-height: 740px;
  --side-menu-width: 350px; /* サイドメニューの幅 */
  --filter-menu-min-width: 400px;
  --general-card-width: 600px;
  --general-card-height: 92px;
  --deck-card-width: 72px;
  --deck-card-height: 250px;
  --deck-card-inner-thumb-height: 118px;
  --deck-board-card-list-height: 274px;

  --checkbox-check-size: 22px;
  --app-header-size: 66px;
  --side-menu-button-size: 62px;
  --filter-button-min-width: 90px;
  --filter-button-height: 48px;
  --filter-button-square-size: 58px;

  --default-font-size: 24px;
  --default-ui-font-size: 28px;
  --checkbox-check-font-size: 18px;
  --checkbox-text-font-size: 18px;
  --title-font-size: 26px;
  --action-button-font-size: 18px;
  --deck-board-action-button-font-size: 24px;
  --deck-board-tool-button-font-size: 20px;
  --deck-board-default-font-size: 16px;
  --deck-board-card-no-font-size: 12px;
  --deck-board-rarity-font-size: 16px;
  --deck-board-unit-type-font-size: 16px;
  --deck-board-name-font-size: 20px;
  --deck-board-long-name-font-size: 16px;
  --deck-board-period-font-size: 14px;
  --filter-tab-font-size: 18px;
  --filter-menu-title-font-size: 26px;
  --filter-display-item-font-size: 14px;
  --simple-filter-font-size: 18px;
  --open-filter-font-size: 18px;
  --general-small-font-size: 14px;
  --general-strat-font-size: 18px;
  --general-strat-param-font-size: 12px;
  --general-param-font-size: 20px;
  --general-state-color-font-size: 28px;
  --general-rarity-font-size: 26px;
  --general-cost-font-size: 16px;
  --general-skill-font-size: 18px;
  --general-creator-font-size: 18px;
  --general-strat-title-font-size: 24px;
  --general-strat-info-font-size: 20px;

  --z-index-side-menu: 80;
  --z-index-filter-menu: 90;
  --z-index-multi-select: 95;
  --z-index-modal: 100;
  --z-index-belong-import-confirm-modal: 110;
  --z-index-loading: 120;
  --z-index-toast: 200;

  --main-color: #003cc1;
  --ctrl-ui-color: #fff;
  --ctrl-ui-bg-color: #5f9cdd;
  --ctrl-ui-active-bg-color: #2c82de;
  --default-color: #0f1111;
  --default-sub-color: #999;
  --default-light-color: #fff;
  --default-disabled-color: #ccc;
  --default-border-color: #ccc;
  --default-light-border-color: #fff;
  --default-dark-border-color: #0f1111;
  --default-light-bg-color: #fff;
  --danger-color: #f94355;
  --cold-color: #2c82de;
  --active-color: #ff8c00;
  --dark-bg-color: #0f1111;
  --offline-color: #07edb9;
  --dark-transparent-bg-color: rgba(0, 0, 0, 0.8);
  --modal-title-color: #fff;
  --modal-title-bg-color: var(--dark-transparent-bg-color);

  --app-header-bg-color: var(--main-color);
  --title-color: white;
  --data-label-color: #777;
  --loading-color: white;
  --modal-bg-color: var(--dark-bg-color);
  --side-menu-color: var(--default-light-color);
  --side-menu-bg-color: var(--main-color);
  --side-menu-hover-bg-color: var(--ctrl-ui-bg-color);
  --deck-card-default-bg-color: #ccc;
  --deck-total-cost-bg-color-odd: #eee;
  --deck-total-cost-bg-color-even: #ccc;
  --filter-menu-label-color: white;
  --filter-menu-border-color: var(--default-light-border-color);
  --filter-menu-content-bg-color: var(--main-color);
  --filter-display-item-color: white;
  --filter-display-item-bg-color: var(--main-color);
  --filter-display-item-border-color: var(--default-light-border-color);
  --filter-button-shadow-color: lightslategray;
  --filter-button-disabled-color: #ccc;
  --filter-button-tap-highlight-color: #ccc;
  --switch-button-color: #eee;
  --switch-button-active-color: white;
  --switch-button-bg-color: #ccc;
  --switch-button-active-bg-color: var(--ctrl-ui-active-bg-color);
  --button-tap-highlight-color: var(--ctrl-ui-active-bg-color);
  --checkbox-check-color: var(--default-color);
  --checkbox-check-bg-color: white;
  --checkbox-check-disabled-bg-color: #ccc;
  --simple-filter-bg-color: #333;
  --simple-select-switch-disable-color: #999;
  --simple-select-switch-bg-color: #eee;
  --simple-select-switch-border-color: #999;
  --general-state-color: white;
  --general-rarity-default-color: #333;
  --general-rarity-default-bg-color: #ccc;
  --general-period-block-bg-color: #e2ab04;
  --general-period-block-border-color: var(--default-dark-border-color);
  --general-skill-bg-color: #e2ab04;
  --general-skill-border-color: var(--default-dark-border-color);
  --general-no-skill-bg-color: rgba(0, 0, 0, 0.2);
  --general-cost-bg-color: #e2ab04;
  --general-cost-border-color: #333;
  --general-cost-less-bg-color: var(--dark-bg-color);
  --general-strat-bg-color: white;
  --general-strat-border-color: var(--default-dark-border-color);
  --general-detail-bg-color: #fcf9f3;
}

@custom-media --vertical-screen-w screen and (max-width: 1050px);
@custom-media --vertical-screen-h screen and (max-height: 620px);
@custom-media --vertical-screen --vertical-screen-w,
  --vertical-screen-h; /* 縦長の主にスマホ画面表示 */
@custom-media --middle-screen screen and (min-width: 1080px) and (max-height: 620px); /* 縦が小さめ画面 */
@custom-media --large-screen screen and (min-width: 1500px) and (min-height: 700px); /* 幅・高さが大きい画面表示 */
@custom-media --modal-filter-style --middle-screen,
  --vertical-screen; /* 絞り込みメニューがモーダルの場合 */
@custom-media --short-vertical screen and (max-height: 900px);
@custom-media --long-vertical screen and (min-height: 1080px);

@keyframes rolling {
  from {
    transform: rotate(0);
    transform-origin: center;
  }

  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
