@import '@/defines.css';

.app-header {
  position: relative;
  height: var(--app-header-size);
  min-height: var(--app-header-size);
  background-color: var(--app-header-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;

  & .copyright {
    font-size: 20px;
    color: white;
    position: absolute;
    right: 6px;
    bottom: 0;

    & a {
      cursor: pointer;
    }
  }

  & .offline {
    font-size: 14px;
    width: 180px;
    height: 18px;
    text-align: center;
    color: white;
    background-color: var(--offline-color);
    position: absolute;
    top: 0;
    right: 0;
  }

  & .update-ready {
    font-size: 14px;
    width: 140px;
    height: 26px;
    text-align: center;
    color: var(--ctrl-ui-color);
    background-color: var(--ctrl-ui-bg-color);
    border: 2px solid var(--default-dark-border-color);
    position: absolute;
    top: 0;
    right: 0;
    animation: update-ready-keyframe 1s;
  }

  & .app-header-title {
    text-align: center;
    font-weight: normal;
    font-size: var(--title-font-size);
    color: var(--title-color);
    margin: auto;
  }

  & .deck-tabs {
    position: absolute;
    bottom: 0;
    left: calc(var(--side-menu-button-size) + 4px);
    min-width: 510px;
    width: calc(100% - 130px);
    height: 100%;
    display: none;
    justify-content: flex-start;
    align-items: flex-end;

    &.show {
      display: flex;
    }

    & .deck-tab {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      flex-grow: 1;
      font-size: 18px;
      font-weight: bold;
      color: var(--ctrl-ui-color);
      margin: 0;
      background-color: var(--ctrl-ui-bg-color);
      border: 3px solid var(--default-light-border-color);
      border-right-color: var(--default-border-color);
      border-bottom-color: var(--default-border-color);
      outline: none;
      cursor: pointer;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      -webkit-tap-highlight-color: transparent;

      &.active {
        font-size: 20px;
        height: 50px;
        margin-top: -10px;
        background-color: var(--ctrl-ui-active-bg-color);
        border-bottom-width: 0;
      }

      & .deck-tab-close {
        position: absolute;
        right: 4px;
        cursor: pointer;
        font-size: 18px;
        color: var(--ctrl-ui-color);
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
        outline: 0;
      }
    }
  }
  & .add-new-deck-tab {
    width: 40px;
    height: 40px;
    visibility: hidden;
    color: var(--ctrl-ui-color);
    margin: 0;
    background-color: var(--ctrl-ui-active-bg-color);
    border: 1px solid var(--default-light-border-color);
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    -webkit-tap-highlight-color: transparent;

    &.active {
      visibility: visible;
    }
  }
}

.side-menu-button {
  position: relative;
  font-size: 42px;
  margin-left: 2px;
  color: var(--app-header-bg-color);
  background-color: white;
  width: var(--side-menu-button-size);
  height: var(--side-menu-button-size);
  border-radius: 4px;
  visibility: visible;
  outline: 0;

  & .notice-icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (--large-screen) {
  .side-menu-button {
    visibility: hidden;
  }
}

@keyframes update-ready-keyframe {
  0% {
    transform: translateY(-26px);
  }

  100% {
    transform: translateY(0);
  }
}
